Repository ai-cherry/sophia-strategic-development: changes, and which pre-commit hooks are due for each by the changed paths.
All: technical-debt-check, secret-scanner

.pre-commit-config.yaml:

# Optimized Pre-commit Configuration for Sophia AI Enterprise Platform
# Balanced approach: Quality enforcement without development friction

repos:
  # Black - Essential for code consistency
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3.11
        args: [--line-length=88]

  # Ruff - Fast Python linter with reasonable rules
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.11
    hooks:
      - id: ruff
        args: [
          --fix,
          --ignore=TRY200,TRY300,TRY301,ARG001,ARG002,PERF401,N815,E501,F401
        ]

  # Security scanning - Critical but not blocking
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args: [--severity-level, medium, --confidence-level, medium]
        exclude: ^(tests/|scripts/one_time/)

  # Local hooks - Fixed script references
  - repo: local
    hooks:
      - id: technical-debt-check
        name: Technical Debt Prevention (Non-blocking)
        entry: python scripts/technical_debt_prevention.py --mode=validate --non-blocking
        language: system
        files: '\.py$'
        pass_filenames: false
        stages: [pre-push]  # Only run on push, not every commit
        description: "Check for technical debt patterns (warnings only)"
      
      - id: secret-scanner
        name: Secret Scanner
        entry: python scripts/utils/secret_scanner.py --scan-staged
        language: system
        files: '\.py$|\.js$|\.ts$|\.yaml$|\.yml$|\.json$'
        pass_filenames: true
        description: "Scan for hardcoded secrets"

# Global pre-commit settings
default_stages: [commit]
fail_fast: false  # Continue running all hooks even if one fails

# Exclude patterns
exclude: |
  (?x)^(
    \.venv/.*|
    node_modules/.*|
    \.git/.*|
    uv\.lock|
    .*\.pyc|
    .*\.log|
    scripts/one_time/.*
  )$

🎯 FRONTEND/BACKEND CONSOLIDATION COMPLETE
  backend/api/mcp_proxy_routes.py
  backend/app/minimal_fastapi.py
  backend/app/simple_fastapi.py
  frontend/components/UnifiedDashboardV3.tsx
  frontend/src/components/AdaptiveDashboard.tsx
  frontend/src/components/EnhancedUnifiedDashboard.tsx
  frontend/src/components/RealDataDashboard.tsx
  frontend/src/components/SophiaExecutiveDashboard.tsx
  frontend/src/components/chat/OptimizedChat.tsx
  frontend/src/components/dashboard/UnifiedDashboard.tsx
  scripts/start_all_services.py
  templates/nginx/sophia-ai-production.conf
  templates/systemd/sophia-backend.service
Due: technical-debt-check, secret-scanner

📋 CONSOLIDATION COMPLETE DOCUMENTATION
  FRONTEND_BACKEND_CONSOLIDATION_COMPLETE.md
Due: none

🚨 CRITICAL FIXES: Frontend-Backend Connection Implementation
  FRONTEND_BACKEND_CONNECTION_AUDIT_REPORT.md
  backend/app/simple_fastapi.py
  backend/services/sophia_ai_unified_orchestrator.py
Due: technical-debt-check, secret-scanner

✅ AUDIT IMPLEMENTATION COMPLETE: Frontend-Backend Testing Ready
  backend/app/simple_dev_fastapi.py
  backend/services/sophia_ai_unified_orchestrator.py
Due: technical-debt-check, secret-scanner

📋 FINAL MISSION ACCOMPLISHED REPORT
  DEPLOYMENT_COMPLETE.md
  IMPLEMENTATION_DEPLOYMENT_COMPLETE.md
  scripts/deploy_and_verify_complete.py
Due: technical-debt-check, secret-scanner

🚀 COMPLETE DEPLOYMENT SUCCESS - SOPHIA AI PLATFORM FULLY OPERATIONAL
  COMPLETE_DEPLOYMENT_REPORT.md
  backend/app/production_ready_backend.py
  backend/services/enhanced_search_service.py
  backend/services/sophia_ai_unified_orchestrator.py
  scripts/comprehensive_system_monitor.py
  system_test_report_20250716_094948.json
Due: technical-debt-check, secret-scanner

🚀 COMPLETE CLOUD DEPLOYMENT 20250716_095708
  frontend/package-lock.json
Due: secret-scanner

🚀 FINAL PRODUCTION DEPLOYMENT - Zero Tolerance Cleanup Complete
  .gitignore
  DEPLOYMENT_STATUS_UPDATE.md
  DEPLOY_COMMANDS.txt
  ENHANCED_PLATFORM_DEPLOYMENT_COMPLETE.md
  FRONTEND_BACKEND_DEPLOYMENT_DEEP_ANALYSIS.md
  FRONTEND_CHAT_DASHBOARD_COMPREHENSIVE_ANALYSIS.md
  LAMBDA_LABS_DEPLOYMENT_COMPREHENSIVE_ANALYSIS.md
  PULL_REQUEST_212_DEPLOYMENT_COMPLETE.md
  SOPHIA_AI_FINAL_DEPLOYMENT_SUCCESS.md
  SOPHIA_LARGE_FILE_INGESTION_MASTER_PLAN.md
  backend/app/simple_dev_fastapi.py
  backend/services/binary_file_handler.py
  backend/services/sophia_ai_unified_orchestrator.py
  docs/ai-coding/COMPREHENSIVE_CODEBASE_AUDIT_PROMPT.md
  docs/ai-coding/QUICK_AUDIT_PROMPT_REFERENCE.md
  docs/implementation/LARGE_FILE_INGESTION_INTEGRATION_GUIDE.md
  enhanced_platform_integrations/DEPLOYMENT_PACKAGE_README.md
  frontend/src/components/SophiaExecutiveDashboard.tsx
  health_check_lambda.sh
  scripts/complete_vercel_cleanup.py
  simple_working_backend.py
  sophia_production_final.py
Due: technical-debt-check, secret-scanner

📝 CONFIGURATION-LEVEL ELIMINATION SUCCESS REPORT
  CONFIGURATION_LEVEL_ELIMINATION_SUCCESS.md
Due: none

🚀 Final deployment fixes and documentation updates
  BROKEN_REFERENCES_FIX_SUMMARY.md
  docs/deployment/COMPREHENSIVE_ENVIRONMENT_MODERNIZATION.md
  infrastructure/config/infrastructure.py
  libs/infrastructure/pulumi/security/audit_logger.py
  tests/test_cortex_gateway.py
  tests/test_cortex_gateway_simple.py
Due: technical-debt-check, secret-scanner

🎉 PRODUCTION DEPLOYMENT COMPLETE - Final Status Report
  BROKEN_REFERENCES_FIX_SUMMARY.md
  PRODUCTION_DEPLOYMENT_COMPLETE_REPORT.md
  PRODUCTION_DEPLOYMENT_STATUS_REPORT.md
  scripts/one_time/deploy_distributed_systemd_DELETE_2025_08_15.py
  scripts/one_time/fix_broken_references_DELETE_2025_08_15.py
  scripts/utils/pre_push_debt_check.py
Due: technical-debt-check, secret-scanner

🔧 COMPREHENSIVE BROKEN REFERENCES FIX: Fixed 34 files, created missing modules, resolved critical syntax errors
  COMPREHENSIVE_BROKEN_REFERENCES_FINAL_REPORT.md
  api/main.py
  api/unified_health_routes.py
  backend/__init__.py
  backend/app/simple_fastapi.py
  backend/etl/utils/watermark_ledger.py
  backend/monitoring/__init__.py
  backend/utils/__init__.py
  core/agents/integrations/gong_data_integration.py
  core/application/use_cases/analyze_call_sentiment.py
  core/application/use_cases/qualify_deal.py
  core/audit_logger.py
  core/cache_manager.py
  core/self_optimization.py
  core/use_cases/sales_intelligence_agent_core.py
  infrastructure/core/enhanced_cache_manager.py
  infrastructure/etl/gong/ingest_gong_data.py
  infrastructure/services/cost_engineering_service.py
  infrastructure/services/payready_business_intelligence.py
  libs/core/services/application/use_cases/analyze_call_sentiment.py
  libs/core/services/application/use_cases/qualify_deal.py
  libs/core/services/audit_logger.py
  libs/core/services/cache_manager.py
  libs/core/services/self_optimization.py
  libs/core/services/use_cases/sales_intelligence_agent_core.py
  libs/infrastructure/pulumi/core/enhanced_cache_manager.py
  libs/infrastructure/pulumi/etl/gong/ingest_gong_data.py
  libs/infrastructure/pulumi/services/cost_engineering_service.py
  libs/infrastructure/pulumi/services/payready_business_intelligence.py
  libs/shared/types/utils/__init__.py
  main.py
  scripts/ci/sync_secrets_to_esc.py
  scripts/comprehensive_broken_references_fix.py
  scripts/monorepo_migrator.py
  shared/utils/__init__.py
  tests/backend/test_cortex_dual_mode.py
  tests/test_cortex_gateway.py
  tests/test_cortex_gateway_simple.py
Due: technical-debt-check, secret-scanner

🕵️ FORENSIC ANALYSIS: Identified multi-repository contamination + automated interference sources
  TECH_DEBT_RESURRECTION_ANALYSIS.md
Due: none

📋 REPOSITORY CLEANUP PLAN: Safe elimination of interference sources (2.5GB freed)
  REPOSITORY_CLEANUP_PLAN.md
Due: none

🚀 FASTAPI ALIGNMENT SUCCESS: All three applications aligned to best updated version
  FASTAPI_ALIGNMENT_SUCCESS_REPORT.md
  api/main.py
  backend/app/minimal_fastapi.py
  backend/app/simple_fastapi.py
  backend/app/working_fastapi.py
Due: technical-debt-check, secret-scanner

🐍 VIRTUAL ENVIRONMENT CONSISTENCY FIXED: Complete solution for all AI coding tools
  .sophia-env-config
  VIRTUAL_ENVIRONMENT_CONSISTENCY_GUIDE.md
  activate_sophia_env.sh
Due: none

📝 AI TOOL CONFIGURATION: Added comprehensive virtual environment rules to .cursorrules and client-specific rules
  .ai-assistant-rules
  .cline-rules
  .cursor-rules
  .cursorrules
Due: none

🔧 Virtual Environment Alignment & FastAPI Setup - 2025-07-16 17:44
  CURSOR_AI_MACHINE_SETUP_PROMPT.md
  scripts/align_all_repositories.py
Due: technical-debt-check, secret-scanner

📋 Repository Alignment Complete - Final Success Report
  REPOSITORY_ALIGNMENT_SUCCESS_REPORT.md
Due: none

🔧 Virtual Environment Alignment & FastAPI Setup - 2025-07-16 17:50
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
  CURSOR_AI_MACHINE_SETUP_PROMPT.md
  scripts/align_all_repositories.py
Due: technical-debt-check, secret-scanner

📊 Complete Development Environment Options - Virtual Environment + Devcontainer
  DEVELOPMENT_ENVIRONMENT_OPTIONS.md
Due: none

📋 Complete Repository Markup 2025 - Comprehensive Platform Documentation
  SOPHIA_AI_COMPLETE_REPOSITORY_MARKUP_2025.md
Due: none

Enhanced frontend with comprehensive functional dashboards - replaced all placeholder content with real system monitoring, workflow automation, and interactive controls
  GITHUB_REPOSITORY_ALIGNMENT_REPORT.md
  frontend/src/components/SophiaExecutiveDashboard.tsx
  scripts/test_enhanced_esc_config.py
  scripts/test_qdrant_optimizer.py
  scripts/utils/generate_mcp_config_from_esc.py
Due: technical-debt-check, secret-scanner

🎯 FINAL PLACEHOLDER ELIMINATION: Comprehensive Frontend Enhancement Complete
  COMPREHENSIVE_FRONTEND_ENHANCEMENT_REPORT.md
  frontend/src/components/SophiaExecutiveDashboard.tsx
  frontend/src/pages/AgentDashboard.tsx
  frontend/src/pages/knowledge/CurationChatPage.tsx
  frontend/src/pages/knowledge/DiscoveryQueuePage.tsx
  frontend/src/pages/knowledge/KnowledgeAnalyticsPage.tsx
  frontend/src/pages/knowledge/KnowledgeSearchPage.tsx
  frontend/src/pages/knowledge/KnowledgeSettingsPage.tsx
Due: none

🎉 COMPREHENSIVE LINTER FIXES: 97% Error Reduction & 100% Security Enhancement
  COMPREHENSIVE_LINTER_ERRORS_REPORT.md
  FINAL_PLACEHOLDER_ELIMINATION_SUCCESS_REPORT.md
  LINTER_FIXES_SUCCESS_REPORT.md
  api/main.py
  autonomous-agents/infrastructure/base_infrastructure_agent.py
  autonomous-agents/infrastructure/lambda_labs_autonomous.py
  autonomous-agents/infrastructure/lambda_labs_monitor.py
  autonomous-agents/monitoring/prometheus_exporter.py
  autonomous-agents/orchestration/__init__.py
  autonomous-agents/orchestration/self_healing_system.py
  backend/app/minimal_fastapi.py
  backend/app/routers/__init__.py
  backend/app/routers/agents.py
  backend/app/simple_fastapi.py
  backend/app/working_fastapi.py
  backend/core/auto_esc_config.py
  docs/99-reference/AUTONOMOUS_AGENTS_DASHBOARD_IMPLEMENTATION.md
  frontend/knowledge-admin/src/App.jsx
  frontend/knowledge-admin/vite.config.js
  frontend/scripts/benchmark_dashboard_performance.js
  frontend/src/pages/AgentDashboard.tsx
  monitor_deployment.py
  ruff_errors.txt
  scripts/deploy_with_monitoring.py
  scripts/pre_deployment_check.py
  scripts/test_agent_dashboard.py
  scripts/test_lambda_labs_autonomous.py
  scripts/test_lambda_labs_monitor.py
  scripts/test_mcp_actions.py
  scripts/test_mcp_basic.py
  scripts/test_mcp_servers.py
  scripts/test_qdrant_optimizer.py
Due: technical-debt-check, secret-scanner

✅ Comprehensive syntax error scan: ZERO syntax errors found
  COMPREHENSIVE_SYNTAX_ERROR_FINAL_REPORT.md
  SYNTAX_ERROR_SCAN_REPORT.md
  scripts/comprehensive_syntax_checker.py
Due: technical-debt-check, secret-scanner

✨ Bridge frontend-backend gap: Add AI Memory endpoints
  backend/app/working_fastapi.py
Due: technical-debt-check, secret-scanner

🚀 TRANSFORM: Complete Frontend-Backend Integration
  FRONTEND_BACKEND_INTEGRATION_SUCCESS.md
  backend/app/working_fastapi.py
Due: technical-debt-check, secret-scanner

🚨 CRITICAL: Comprehensive Frontend/Backend Inconsistency Analysis
  FRONTEND_BACKEND_INCONSISTENCY_ANALYSIS.md
Due: none

🔧 CRITICAL FIX: Resolve all 5 URL inconsistencies
  MISSING_BACKEND_ENDPOINTS.md
  UPDATED_REPOSITORY_MARKUP_JANUARY_2025.md
  autonomous-agents/docker/Dockerfile.lambda-labs-autonomous
  autonomous-agents/docker/Dockerfile.lambda-labs-monitor
  autonomous-agents/docker/Dockerfile.prometheus-exporter
  autonomous-agents/docker/Dockerfile.qdrant-optimizer
  autonomous-agents/docker/Dockerfile.self-healing-orchestrator
  autonomous-agents/orchestration/self_healing_system.py
  backend/core/auto_esc_config.py
  docs/99-reference/AUTONOMOUS_AGENTS_DEPLOYMENT_GUIDE.md
  docs/99-reference/ENHANCED_AUTO_ESC_CONFIG_USAGE.md
  frontend/scripts/benchmark_dashboard_performance.js
  frontend/src/components/SophiaExecutiveDashboard.tsx
  frontend/src/config/environment.ts
  frontend/src/pages/AgentDashboard.tsx
  frontend/src/services/apiClient.js
  frontend/src/services/apiClient.ts
  frontend/src/services/webSocketService.ts
  frontend/src/utils/configValidation.ts
  k8s/agents/configmap.yaml
  k8s/agents/ingress.yaml
  k8s/agents/lambda-labs-autonomous-deployment.yaml
  k8s/agents/lambda-labs-monitor-deployment.yaml
  k8s/agents/prometheus-exporter-deployment.yaml
  k8s/agents/qdrant-optimizer-deployment.yaml
  k8s/agents/rbac.yaml
  k8s/agents/secrets.yaml
  k8s/agents/self-healing-orchestrator-deployment.yaml
  k8s/agents/services.yaml
  scripts/deploy-agents.sh
  scripts/fix_critical_url_inconsistencies.py
  scripts/generate_mcp_config.py
  scripts/sync_perplexity_config.py
  scripts/test_agent_deployment.py
  scripts/test_enhanced_esc_mcp_config.py
  scripts/utils/use_enhanced_esc_config.py
  sophia-chrome-extension/background.js
Due: technical-debt-check, secret-scanner
