Repository ai-cherry/sophia-strategic-development: changes, and which pre-commit hooks are due for each by the changed paths.
All: dead-code-prevention, one-time-script-reminder, monorepo-transition-guard

dead-code-prevention:
  name: Prevent dead code patterns
  entry: python
  args:
  - -c
  ...

one-time-script-reminder:
  name: Remind about one-time script deletion
  entry: python
  args:
  - -c
  ...

monorepo-transition-guard:
  name: Guard against monorepo transition violations
  entry: python
  args:
  - -c
  ...

🔧 Code formatting improvements
  docs/LAMBDA_LABS_INFRASTRUCTURE.md
  scripts/validate_lambda_infrastructure.py
Due: dead-code-prevention, one-time-script-reminder

🧹 Streamline external repositories to essential collection
  .gitmodules
  external/README.md
Due: dead-code-prevention

feat: Complete sophia-intel.ai deployment enhancement
  .github/workflows/deploy-sophia-intel-ai.yml
  DEPLOYMENT_README.md
  SOPHIA_INTEL_AI_DEPLOYMENT_ENHANCEMENT_PLAN.md
  infrastructure/esc/sophia-intel-ai-production.yaml
  scripts/deploy_sophia_intel_ai.py
Due: dead-code-prevention, one-time-script-reminder

Fix: Remove hardcoded secrets and improve deployment script
  .pre-commit-config.yaml
  DEPLOYMENT_README.md
  SOPHIA_INTEL_AI_DEPLOYMENT_ENHANCEMENT_PLAN.md
  scripts/deploy_sophia_intel_ai.py
Due: dead-code-prevention, one-time-script-reminder

Chore: Restore pre-commit hooks
  .pre-commit-config.yaml
Due: none

feat: Add focused deployment approach for Sophia AI
  FOCUSED_DEPLOYMENT_SUMMARY.md
  SOPHIA_AI_FOCUSED_DEPLOYMENT_PLAN.md
  backend/main.py
  docker-compose.mcp-essential.yml
  health_check.sh
  scripts/focused_deployment.sh
  vercel.json
Due: dead-code-prevention

docs: add comprehensive backend clean architecture implementation guide
  BACKEND_CLEAN_ARCHITECTURE_IMPLEMENTATION.md
  BACKEND_CLEAN_ARCHITECTURE_IMPLEMENTATION_PART2.md
  BACKEND_CLEAN_ARCHITECTURE_IMPLEMENTATION_PART3.md
  BACKEND_CLEAN_ARCHITECTURE_SUMMARY.md
  FRONTEND_CONSOLIDATION_COMPLETE.md
  frontend/src/utils/migrate-jsx-to-tsx.mjs
Due: dead-code-prevention

feat: Implement production-ready AI Memory V2 MCP server
  BACKEND_CLEAN_ARCHITECTURE_EXECUTION_SUMMARY.md
  MCP_SERVER_MIGRATION_EXAMPLE.md
  MCP_SERVER_MIGRATION_PLAN.md
  MCP_SERVER_QUICK_START.md
  infrastructure/mcp_servers/ai_memory_v2/.env.example
  infrastructure/mcp_servers/ai_memory_v2/.gitignore
  infrastructure/mcp_servers/ai_memory_v2/Dockerfile
  infrastructure/mcp_servers/ai_memory_v2/README.md
  infrastructure/mcp_servers/ai_memory_v2/__init__.py
  infrastructure/mcp_servers/ai_memory_v2/config.py
  infrastructure/mcp_servers/ai_memory_v2/docker-compose.production.yml
  infrastructure/mcp_servers/ai_memory_v2/docker-compose.yml
  infrastructure/mcp_servers/ai_memory_v2/handlers/__init__.py
  infrastructure/mcp_servers/ai_memory_v2/handlers/main_handler.py
  infrastructure/mcp_servers/ai_memory_v2/models/__init__.py
  infrastructure/mcp_servers/ai_memory_v2/models/data_models.py
  infrastructure/mcp_servers/ai_memory_v2/server.py
  infrastructure/mcp_servers/ai_memory_v2/tests/__init__.py
  infrastructure/mcp_servers/ai_memory_v2/tests/conftest.py
  infrastructure/mcp_servers/ai_memory_v2/tests/integration/__init__.py
  infrastructure/mcp_servers/ai_memory_v2/tests/integration/test_server.py
  infrastructure/mcp_servers/ai_memory_v2/tests/unit/__init__.py
  infrastructure/mcp_servers/ai_memory_v2/tests/unit/test_handler.py
  infrastructure/mcp_servers/ai_memory_v2/utils/__init__.py
  infrastructure/mcp_servers/ai_memory_v2/utils/db.py
  infrastructure/mcp_servers/ai_memory_v2/utils/logging_config.py
  infrastructure/mcp_servers/github/config.py
  infrastructure/mcp_servers/github/handlers/main_handler.py
  infrastructure/mcp_servers/github/models/data_models.py
  infrastructure/mcp_servers/github/server.py
  infrastructure/mcp_servers/github/tests/unit/test_handler.py
  infrastructure/mcp_servers/github/utils/logging_config.py
  scripts/scaffold_mcp_server.py
  scripts/scaffold_mcp_server_v3.sh
Due: dead-code-prevention, one-time-script-reminder

feat: Implement AI Memory V2 and Snowflake V2 MCP servers
  MCP_SERVER_MIGRATION_STATUS.md
  docs/EMBEDDING_STRATEGY_COMPARISON.md
  infrastructure/mcp_servers/ai_memory_v2/utils/embeddings.py
  infrastructure/mcp_servers/snowflake_v2/.env.example
  infrastructure/mcp_servers/snowflake_v2/.gitignore
  infrastructure/mcp_servers/snowflake_v2/Dockerfile
  infrastructure/mcp_servers/snowflake_v2/README.md
  infrastructure/mcp_servers/snowflake_v2/__init__.py
  infrastructure/mcp_servers/snowflake_v2/config.py
  infrastructure/mcp_servers/snowflake_v2/docker-compose.yml
  infrastructure/mcp_servers/snowflake_v2/handlers/__init__.py
  infrastructure/mcp_servers/snowflake_v2/handlers/main_handler.py
  infrastructure/mcp_servers/snowflake_v2/models/__init__.py
  infrastructure/mcp_servers/snowflake_v2/models/data_models.py
  infrastructure/mcp_servers/snowflake_v2/server.py
  infrastructure/mcp_servers/snowflake_v2/tests/__init__.py
  infrastructure/mcp_servers/snowflake_v2/tests/conftest.py
  infrastructure/mcp_servers/snowflake_v2/tests/integration/__init__.py
  infrastructure/mcp_servers/snowflake_v2/tests/integration/test_server.py
  infrastructure/mcp_servers/snowflake_v2/tests/unit/__init__.py
  infrastructure/mcp_servers/snowflake_v2/tests/unit/test_handler.py
  infrastructure/mcp_servers/snowflake_v2/utils/__init__.py
  infrastructure/mcp_servers/snowflake_v2/utils/db.py
  infrastructure/mcp_servers/snowflake_v2/utils/logging_config.py
Due: dead-code-prevention

feat: Create comprehensive unified deployment plan for Sophia AI
  UNIFIED_DEPLOYMENT_IMPLEMENTATION_PLAN.md
  UNIFIED_DEPLOYMENT_PHASE_1.md
  UNIFIED_DEPLOYMENT_PHASE_2.md
  UNIFIED_DEPLOYMENT_PHASE_3.md
  UNIFIED_DEPLOYMENT_PHASE_4.md
Due: dead-code-prevention

feat: Add Gong V2 MCP server and Docker Cloud deployment
  DOCKER_CLOUD_QUICK_DEPLOY.md
  UNIFIED_DEPLOYMENT_COMPLETE.md
  docker-compose.mcp-v2.yml
  infrastructure/mcp_servers/gong_v2/.env.example
  infrastructure/mcp_servers/gong_v2/.gitignore
  infrastructure/mcp_servers/gong_v2/Dockerfile
  infrastructure/mcp_servers/gong_v2/README.md
  infrastructure/mcp_servers/gong_v2/__init__.py
  infrastructure/mcp_servers/gong_v2/config.py
  infrastructure/mcp_servers/gong_v2/docker-compose.yml
  infrastructure/mcp_servers/gong_v2/handlers/__init__.py
  infrastructure/mcp_servers/gong_v2/handlers/main_handler.py
  infrastructure/mcp_servers/gong_v2/models/__init__.py
  infrastructure/mcp_servers/gong_v2/models/data_models.py
  infrastructure/mcp_servers/gong_v2/server.py
  infrastructure/mcp_servers/gong_v2/tests/__init__.py
  infrastructure/mcp_servers/gong_v2/tests/conftest.py
  infrastructure/mcp_servers/gong_v2/tests/integration/__init__.py
  infrastructure/mcp_servers/gong_v2/tests/integration/test_server.py
  infrastructure/mcp_servers/gong_v2/tests/unit/__init__.py
  infrastructure/mcp_servers/gong_v2/tests/unit/test_handler.py
  infrastructure/mcp_servers/gong_v2/utils/__init__.py
  infrastructure/mcp_servers/gong_v2/utils/db.py
  infrastructure/mcp_servers/gong_v2/utils/logging_config.py
  infrastructure/pulumi-esc-config.yaml
  scripts/docker-cloud-deploy-v2.sh
Due: dead-code-prevention

feat: Add Estuary Flow integration for V2 architecture
  ESTUARY_FLOW_INTEGRATION_PLAN.md
  ESTUARY_FLOW_V2_SUMMARY.md
  config/estuary/derivations/enrich_gong_calls.yaml
  config/estuary/gong_v2_collection.yaml
  config/estuary/materializations/redis_cache.yaml
  config/estuary/materializations/snowflake_analytics.yaml
  infrastructure/mcp_servers/gong_v2/handlers/estuary_handler.py
  scripts/deploy-estuary-flow.sh
Due: dead-code-prevention

feat: Add Estuary Flow deployment automation
  ESTUARY_DEPLOYMENT_GUIDE.md
  infrastructure/pulumi-esc-config.yaml
  scripts/setup-estuary-lambda-labs.sh
Due: dead-code-prevention

feat: Cloud-only Estuary Flow deployment
  .github/workflows/deploy-estuary-flow.yml
  CLOUD_ESTUARY_DEPLOYMENT.md
  scripts/cloud-deploy-estuary.sh
Due: dead-code-prevention

feat: Memory V2 practical implementation plan and components
  MEMORY_V2_IMPLEMENTATION_PLAN.md
  MEMORY_V2_IMPLEMENTATION_SUMMARY.md
  MEMORY_V2_PRACTICAL_IMPLEMENTATION.md
  infrastructure/mcp_servers/ai_memory_v2/handlers/memory_mediator.py
  infrastructure/mcp_servers/gong_v2/handlers/memory_integration.py
  shared/clients/memory_client.py
Due: dead-code-prevention

docs: Add Mem0 assessment for Memory V2 implementation
  MEMORY_V2_MEM0_ASSESSMENT.md
Due: dead-code-prevention

fix: Critical Memory V2 pre-deployment fixes - config, API endpoints, and Snowflake schema
  MEMORY_V2_PRE_DEPLOYMENT_CHECKLIST.md
  infrastructure/mcp_servers/ai_memory_v2/config.py
  infrastructure/mcp_servers/ai_memory_v2/handlers/api_endpoints.py
  infrastructure/mcp_servers/ai_memory_v2/handlers/memory_mediator.py
  infrastructure/snowflake_setup/ai_memory_v2_schema.sql
Due: dead-code-prevention

feat: Practical foundational knowledge implementation plan
  FOUNDATIONAL_KNOWLEDGE_IMPLEMENTATION_PLAN.md
  FOUNDATIONAL_KNOWLEDGE_QUICK_START.md
  infrastructure/mcp_servers/foundational_knowledge/__init__.py
  infrastructure/mcp_servers/foundational_knowledge/handlers/main_handler.py
  scripts/create_foundational_knowledge_schema.sql
Due: dead-code-prevention

feat: Real sample data approach for foundational knowledge
  FOUNDATIONAL_KNOWLEDGE_DATA_STRATEGY.md
  FOUNDATIONAL_KNOWLEDGE_NEXT_STEPS.md
  scripts/analyze_sample_data.py
  scripts/foundational_knowledge_staging.py
Due: dead-code-prevention, one-time-script-reminder

feat: Implement unified foundational knowledge system combining Notion UI with sample data approach
  FOUNDATIONAL_KNOWLEDGE_QUICK_START.md
  FOUNDATIONAL_KNOWLEDGE_UNIFIED_PLAN.md
  infrastructure/mcp_servers/notion_simple/Dockerfile
  infrastructure/mcp_servers/notion_simple/env.template
  infrastructure/mcp_servers/notion_simple/server.py
  scripts/correlate_entities.py
  scripts/setup_notion_simple.py
  scripts/validate_foundational_knowledge.py
Due: dead-code-prevention, one-time-script-reminder

feat: Implement Snowflake Infrastructure as Code with Pulumi
  SECRET_MANAGEMENT_IMPLEMENTATION_COMPLETE.md
  SNOWFLAKE_IAC_IMPLEMENTATION_PLAN.md
  SNOWFLAKE_IAC_IMPLEMENTATION_SUMMARY.md
  infrastructure/snowflake_iac/Pulumi.yaml
  infrastructure/snowflake_iac/__main__.py
  infrastructure/snowflake_iac/snowflake_resources/__init__.py
  infrastructure/snowflake_iac/snowflake_resources/database.py
  infrastructure/snowflake_iac/snowflake_resources/roles_grants.py
  infrastructure/snowflake_iac/snowflake_resources/schemas.py
  infrastructure/snowflake_iac/snowflake_resources/tables.py
  infrastructure/snowflake_iac/snowflake_resources/tasks_streams.py
  infrastructure/snowflake_iac/snowflake_resources/views.py
  infrastructure/snowflake_iac/snowflake_resources/warehouses.py
  infrastructure/snowflake_iac/utils/snowflake_config.py
  scripts/cleanup_python_cache.py
  scripts/deploy_snowflake_iac.py
  scripts/quick_cleanup.sh
Due: dead-code-prevention, one-time-script-reminder

feat: Comprehensive Docker Swarm deployment enhancements
  COMPREHENSIVE_IMPLEMENTATION_SUMMARY.md
  DEPLOYMENT_ENHANCEMENT_IMPLEMENTATION_SUMMARY.md
  SOPHIA_DEPLOYMENT_ENHANCEMENT_PLAN.md
  configs/alerts.yml
  configs/prometheus.yml
  docker-compose.cloud.enhanced.yml
  monitoring-stack.yml
  scripts/deploy_enhanced.sh
  scripts/optimize_swarm_resources.py
Due: dead-code-prevention, one-time-script-reminder

feat: Phase 2 ruff remediation - syntax errors and SQL injection fixes
  PHASE2_SYNTAX_SQL_REMEDIATION_SUMMARY.md
  SYNTAX_ERRORS_REPORT.md
  api/app/app.py
  core/use_cases/snowflake_admin_agent.py
  infrastructure/core/comprehensive_snowflake_config.py
  infrastructure/core/connection_pool.py
  infrastructure/core/enhanced_snowflake_config.py
  infrastructure/core/snowflake_abstraction.py
  infrastructure/core/snowflake_config_manager.py
  infrastructure/core/snowflake_schema_integration.py
  infrastructure/etl/gong/ingest_gong_data.py
  scripts/fix_all_syntax_errors.py
  scripts/fix_sql_injection_comprehensive.py
  scripts/fix_syntax_errors.py
  scripts/fix_unclosed_parentheses.py
  scripts/snowflake_config_manager.py
  scripts/verify_and_align_snowflake.py
  shared/utils/snowflake_cortex_service_core.py
  sophia_workflow_runner.py
  start_mcp_servers.py
  ui-ux-agent/mcp-servers/langchain-agents/ui_ux_agent.py
  unified_ai_assistant.py
Due: dead-code-prevention, one-time-script-reminder

feat: Comprehensive V2 MCP Server Deployment Plan
  .github/workflows/deploy_v2_mcp_servers.yml
  SOPHIA_V2_MCP_DEPLOYMENT_PLAN.md
  docker-compose.cloud.v2.yml
  scripts/validate_v2_deployment.py
Due: dead-code-prevention, one-time-script-reminder

feat: implement comprehensive dark theme enhancements
  CLEANUP_AND_DEPLOYMENT_STATUS.md
  SOPHIA_DARK_THEME_ENHANCEMENT_PLAN.md
  frontend/index.html
  frontend/src/App.tsx
  frontend/src/components/dashboard/ActivityFeed.tsx
  frontend/src/components/dashboard/DealStageDistribution.tsx
  frontend/src/components/dashboard/EnhancedSalesRevenueChart.tsx
  frontend/src/components/dashboard/EnhancedUnifiedDashboard.tsx
  frontend/src/components/dashboard/UnifiedDashboard.tsx
  frontend/src/components/shared/EnhancedUnifiedChat.tsx
  frontend/src/components/theme-provider.tsx
  frontend/src/main.tsx
  frontend/src/styles/globals.css
  frontend/tailwind.config.js
Due: dead-code-prevention

feat: Consolidate unified chat implementation with dynamic ecosystem access
  UNIFIED_CHAT_CLEANUP_SUMMARY.md
  UNIFIED_CHAT_IMPLEMENTATION_SUMMARY.md
  api/enhanced_unified_chat_routes.py
  api/unified_chat_routes.py
  backend/api/unified_chat_routes.py
  backend/services/unified_chat_service.py
  docs/UNIFIED_CHAT_ARCHITECTURE.md
  frontend/src/App.tsx
  frontend/src/components/UnifiedChatInterface.tsx
  frontend/src/components/dashboard/EnhancedUnifiedDashboard.tsx
  frontend/src/components/dashboard/UnifiedDashboard.tsx
  frontend/src/components/shared/EnhancedUnifiedChat.tsx
  frontend/src/components/shared/EnhancedUnifiedChatFixed.tsx
  infrastructure/services/enhanced_unified_chat_service.py
  infrastructure/services/unified_chat_service.py
Due: dead-code-prevention

docs: Add deployment checklist for unified chat implementation
  UNIFIED_CHAT_DEPLOYMENT_CHECKLIST.md
Due: dead-code-prevention

docs: Add comprehensive deployment status review
  COMPREHENSIVE_DEPLOYMENT_STATUS_REVIEW.md
Due: dead-code-prevention

fix: Update pre-commit hooks and fix frontend build
  .pre-commit-config.yaml
  frontend/src/components/UnifiedChatInterface.tsx
Due: none

docs: Add deployment action plan for unified chat and V2 MCP servers
  DEPLOYMENT_ACTION_PLAN.md
Due: dead-code-prevention

docs: Create comprehensive unified deployment improvement plan
  UNIFIED_DEPLOYMENT_IMPROVEMENT_PLAN.md
Due: dead-code-prevention

Path conditions:
  dead-code-prevention: any of: \.(py|md|dockerfile)$|^Dockerfile, but not: (?x)^(
  external/|
  node_modules/|
  venv/|
  \.venv/|
  __pycache__/|
  \.pytest_cache/|
  \.mypy_cache/|
  \.ruff_cache/|
  build/|
  dist/|
  \.git/|
  .*\.min\.js$|
  .*\.min\.css$|
  archive/|
  backups/|
  docs_backup_.*
)$

  one-time-script-reminder: any of: ^scripts/.*\.py$, but not: (?x)^(
  external/|
  node_modules/|
  venv/|
  \.venv/|
  __pycache__/|
  \.pytest_cache/|
  \.mypy_cache/|
  \.ruff_cache/|
  build/|
  dist/|
  \.git/|
  .*\.min\.js$|
  .*\.min\.css$|
  archive/|
  backups/|
  docs_backup_.*
)$

  monorepo-transition-guard: any of: ^(apps|libs)/, but not: (?x)^(
  external/|
  node_modules/|
  venv/|
  \.venv/|
  __pycache__/|
  \.pytest_cache/|
  \.mypy_cache/|
  \.ruff_cache/|
  build/|
  dist/|
  \.git/|
  .*\.min\.js$|
  .*\.min\.css$|
  archive/|
  backups/|
  docs_backup_.*
)$

