Repository ai-cherry/sophia-strategic-development: changes, and which pre-commit hooks are due for each by the changed paths.
All: technical-debt-check, secret-scanner

technical-debt-check:
  name: Technical Debt Prevention (Non-blocking)
  entry: python scripts/technical_debt_prevention.py --mode=validate --non-blocking
  language: system
  pass_filenames: false
  stages:
  - pre-push
  description: Check for technical debt patterns (warnings only)

secret-scanner:
  name: Secret Scanner
  entry: python scripts/utils/secret_scanner.py --scan-staged
  language: system
  pass_filenames: true
  description: Scan for hardcoded secrets

🚀 FINAL INTEGRATION - Complete Search Components & Unified MCP Architecture
  frontend/src/components/search/UnifiedSearchInterface.tsx
  mcp_servers/unified_search/__init__.py
  mcp_servers/unified_search/unified_search_mcp.py
Due: technical-debt-check, secret-scanner

���� COMPREHENSIVE AUTOMATION AUDIT - Complete Analysis of 106 Scripts
  COMPREHENSIVE_AUTOMATION_SCRIPT_AUDIT_REPORT.md
Due: none

🔧 COMPREHENSIVE AUTOMATION REMEDIATION FRAMEWORK - Fix 9 Critical Issues + 25 Standardization Needs
  AUTOMATION_SCRIPT_REMEDIATION_PLAN.md
  backend/app/routers/search.py
  docs/FRONTEND_ARCHITECTURE_COMPREHENSIVE_ANALYSIS.md
  frontend/src/components/search/UnifiedSearchInterface.tsx
  scripts/create_remediation_framework.py
Due: technical-debt-check, secret-scanner

Update search router and documentation for hybrid memory architecture deployment
  backend/app/routers/search.py
  docs/99-reference/HYBRID_MEMORY_DEPLOYMENT_ENVIRONMENT.md
  docs/FRONTEND_ARCHITECTURE_COMPREHENSIVE_ANALYSIS.md
  docs/FRONTEND_ARCHITECTURE_SUMMARY.md
  scripts/create_remediation_framework.py
Due: technical-debt-check, secret-scanner

fix: Update frontend to use HTTPS URLs for API connections
  frontend/src/config/environment.ts
Due: secret-scanner

Implement separated AI orchestrator architecture: Cline (coding) + Sophia (business) with shared infrastructure
  backend/agents/business/enhanced_business_ai_orchestrator.py
  backend/api/business_ai_routes.py
  backend/services/slidespeak_mcp_service.py
  config/cline/enhanced_coding_mcp_config.json
  config/cline/enhanced_unified_mcp_config.json
  config/shared_mcp_infrastructure.yaml
  docs/99-reference/CLINE_SOPHIA_INTEGRATION_ARCHITECTURE.md
  docs/99-reference/UNIFIED_CLINE_SOPHIA_IMPLEMENTATION_GUIDE.md
  docs/ai-orchestration/SEPARATED_AI_ORCHESTRATOR_IMPLEMENTATION.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/BusinessAIChat.tsx
  frontend/src/types/BusinessTypes.ts
  scripts/implement_unified_cline_sophia_orchestrator.py
  scripts/index_repository.py
Due: technical-debt-check, secret-scanner

🔧 Complete Shell Environment Merge & Double .venv Fix
  SHELL_MERGE_SUCCESS_REPORT.md
Due: none

���� Update Virtual Environment Guide - Shell Merge Complete
  VIRTUAL_ENVIRONMENT_CONSISTENCY_GUIDE.md
Due: none

📝 Add Client Extension Instructions - Shell Environment Merge
  CLIENT_EXTENSION_ULTRA_SHORT.txt
  CURSOR_CLIENT_INSTRUCTIONS_SHORT.md
Due: none

Add MCP-Notion sync system for Sophia knowledge management
  .github/workflows/mcp-sync.yml
  services/mcp-sync/.env.example
  services/mcp-sync/README.md
  services/mcp-sync/dedup_engine.py
  services/mcp-sync/requirements.txt
  services/mcp-sync/setup.py
  services/mcp-sync/sync_manager.py
Due: technical-debt-check, secret-scanner

Path conditions:
  technical-debt-check: any of: \.py$, but not: (?x)^(
  \.venv/.*|
  node_modules/.*|
  \.git/.*|
  uv\.lock|
  .*\.pyc|
  .*\.log|
  scripts/one_time/.*
)$

  secret-scanner: any of: \.py$|\.js$|\.ts$|\.yaml$|\.yml$|\.json$, but not: (?x)^(
  \.venv/.*|
  node_modules/.*|
  \.git/.*|
  uv\.lock|
  .*\.pyc|
  .*\.log|
  scripts/one_time/.*
)$

