Repository ai-cherry/sophia-strategic-development: changes, and which pre-commit hooks are due for each by the changed paths.
All: dead-code-prevention, one-time-script-reminder, monorepo-transition-guard

.pre-commit-config.yaml:

# Pre-commit hooks for Sophia AI
# See https://pre-commit.com for more information

repos:
  # Python code formatting
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3.11
        args: [--line-length=88]

  # Python linting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.11
    hooks:
      - id: ruff
        args: [--fix]

  # Security scanning
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.6
    hooks:
      - id: bandit
        args: [-ll, --skip=B101,B601,B602,B607]
        files: ^backend/.*\.py$

  # Check for large files
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-json
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: detect-private-key

  # === ENHANCED DEAD CODE PREVENTION ===
  # Prevent dead code patterns identified in audit
  - repo: local
    hooks:
      - id: dead-code-prevention
        name: Prevent dead code patterns
        entry: python
        args:
          - -c
          - |
            import sys; import re; from pathlib import Path
            patterns = [
              r'^apps/(?!README\.md$|\.FUTURE_USE_ONLY$).*',
              r'^libs/(?!README\.md$|\.FUTURE_USE_ONLY$).*',
              r'.*(?:_REPORT|_SUMMARY|_PLAN|_STATUS|_COMPLETE|_SUCCESS|_ANALYSIS|_PROMPT)\.md$',
              r'^Dockerfile\.(?!production$).*',
              r'backend/app/(?!fastapi_main\.py$|__init__\.py$).*\.py$'
            ]
            for f in sys.argv[1:]:
              for p in patterns:
                if re.match(p, f):
                  print(f'‚ùå BLOCKED: {f} matches forbidden pattern {p}'); sys.exit(1)
            print('‚úÖ All files passed dead code prevention checks')
        language: python
        pass_filenames: true
        files: \.(py|md|dockerfile)$|^Dockerfile

      - id: one-time-script-reminder
        name: Remind about one-time script deletion
        entry: python
        args:
          - -c
          - |
            import sys
            for f in sys.argv[1:]:
              if any(f.startswith(p) for p in ['scripts/fix_', 'scripts/deploy_', 'scripts/cleanup_', 'scripts/migrate_', 'scripts/test_', 'scripts/validate_', 'scripts/one_time_']):
                print(f'‚ö†Ô∏è  REMINDER: {f} appears to be a one-time script - remember to delete after use')
                print('   Add to .cursorrules ALWAYS DELETE list or move to scripts/permanent/')
        language: python
        pass_filenames: true
        files: ^scripts/.*\.py$

      - id: monorepo-transition-guard
        name: Guard against monorepo transition violations
        entry: python
        args:
          - -c
          - |
            import sys
            violations = [f for f in sys.argv[1:] if f.startswith(('apps/', 'libs/')) and not f.endswith(('README.md', '.FUTURE_USE_ONLY'))]
            if violations:
              print('‚ùå MONOREPO TRANSITION VIOLATION:')
              for v in violations: print(f'   {v}')
              print('üí° Continue using backend/ and frontend/ until February 2025')
              print('   See docs/monorepo/MONOREPO_TRANSITION_GUIDE.md'); sys.exit(1)
        language: python
        pass_filenames: true
        files: ^(apps|libs)/

# Configuration
default_language_version:
  python: python3.11

exclude: |
  (?x)^(
    external/|
    node_modules/|
    venv/|
    \.venv/|
    __pycache__/|
    \.pytest_cache/|
    \.mypy_cache/|
    \.ruff_cache/|
    build/|
    dist/|
    \.git/|
    .*\.min\.js$|
    .*\.min\.css$|
    archive/|
    backups/|
    docs_backup_.*
  )$

Add comprehensive Lambda Labs infrastructure enhancement roadmap
  infrastructure/LAMBDA_LABS_ARCHITECTURE_ENHANCEMENT_BRAINSTORM.md
Due: dead-code-prevention

Implement H200 GPU infrastructure with 6-tier memory architecture
  Dockerfile.h200
  ENHANCED_INFRASTRUCTURE_IMPLEMENTATION_REPORT.md
  backend/core/enhanced_memory_architecture.py
  docker-compose.cloud.yml
  docs/system_handbook/00_SOPHIA_AI_SYSTEM_HANDBOOK.md
  infrastructure/ENHANCED_LAMBDA_LABS_SETUP_GUIDE.md
  infrastructure/enhanced_lambda_labs_provisioner.py
  infrastructure/pulumi/enhanced-h200-stack.ts
Due: dead-code-prevention

📝 Document PR #136 merge completion and deployment guide
  PR_136_POST_MERGE_SUMMARY.md
  docs/implementation/PR_136_H200_GPU_DEPLOYMENT_GUIDE.md
Due: dead-code-prevention

🧹 Remove duplicate post-merge summary (moved to docs/implementation)
  PR_136_POST_MERGE_SUMMARY.md
Due: dead-code-prevention

📚 Add comprehensive Lambda Labs H200 GPU setup documentation
  LAMBDA_LABS_H200_SPECIFIC_SETUP_INSTRUCTIONS.md
  scripts/verify_lambda_labs_h200_setup.py
Due: dead-code-prevention, one-time-script-reminder

feat: Complete Lambda Labs H200 + GitHub CLI + Pulumi ESC integration
  .github/workflows/sync_secrets.yml
  docs/implementation/LAMBDA_LABS_H200_INTEGRATION_GUIDE.md
  docs/implementation/LAMBDA_LABS_PULUMI_ESC_INTEGRATION.md
  infrastructure/esc/lambda-labs-h200-config.yaml
  scripts/ci/sync_from_gh_to_pulumi.py
  scripts/validate_lambda_labs_integration.py
Due: dead-code-prevention, one-time-script-reminder

docs: Add comprehensive Lambda Labs H200 integration overview
  LAMBDA_LABS_H200_INTEGRATION_OVERVIEW.md
Due: dead-code-prevention

fix: Resolve Lambda Labs integration issues
  .github/workflows/sync_secrets.yml
  scripts/ci/sync_from_gh_to_pulumi.py
Due: dead-code-prevention, one-time-script-reminder

feat: Complete Lambda Labs H200 integration audit and improvements
  LAMBDA_LABS_H200_DEPLOYMENT_GUIDE.md
  docs/implementation/LAMBDA_LABS_H200_INTEGRATION_AUDIT.md
  pre_deployment_report.json
  scripts/pre_deployment_checklist.py
Due: dead-code-prevention, one-time-script-reminder

feat: Complete Lambda Labs GPU alignment review and validation
  LAMBDA_LABS_GPU_ALIGNMENT_REPORT.md
  LAMBDA_LABS_PR_REVIEW_AND_ALIGNMENT_REPORT.md
  gh200_validation_results_20250706_174956.json
  pre_deployment_report.json
  scripts/update_h200_to_gh200.py
  scripts/validate_gh200_deployment.py
Due: dead-code-prevention, one-time-script-reminder

feat: Complete Lambda Labs GH200 configuration and setup
  Dockerfile.gh200
  ENHANCED_INFRASTRUCTURE_IMPLEMENTATION_REPORT.md
  LAMBDA_LABS_GH200_SETUP_GUIDE.md
  LAMBDA_LABS_GPU_ALIGNMENT_REPORT.md
  LAMBDA_LABS_H200_DEPLOYMENT_GUIDE.md
  LAMBDA_LABS_H200_INTEGRATION_OVERVIEW.md
  LAMBDA_LABS_H200_SPECIFIC_SETUP_INSTRUCTIONS.md
  LAMBDA_LABS_PR_REVIEW_AND_ALIGNMENT_REPORT.md
  PR_136_MERGE_ASSESSMENT.md
  backend/core/enhanced_memory_architecture.py
  docs/implementation/LAMBDA_LABS_H200_INTEGRATION_AUDIT.md
  docs/implementation/LAMBDA_LABS_H200_INTEGRATION_GUIDE.md
  docs/implementation/LAMBDA_LABS_PULUMI_ESC_INTEGRATION.md
  docs/implementation/PR_136_H200_GPU_DEPLOYMENT_GUIDE.md
  docs/system_handbook/00_SOPHIA_AI_SYSTEM_HANDBOOK.md
  gh200_validation_results_20250706_174956.json
  h200_to_gh200_update_report_20250706_175721.md
  infrastructure/ENHANCED_LAMBDA_LABS_SETUP_GUIDE.md
  infrastructure/LAMBDA_LABS_ARCHITECTURE_ENHANCEMENT_BRAINSTORM.md
  infrastructure/enhanced_lambda_labs_provisioner.py
  infrastructure/esc/lambda-labs-gh200-config.yaml
  infrastructure/pulumi/enhanced-gh200-stack.ts
  lambda_labs_validation_20250706_175501.json
  lambda_labs_validation_20250706_175731.json
  requirements-h200.txt
  scripts/comprehensive_lambda_labs_validation.py
  scripts/pre_deployment_checklist.py
  scripts/setup_lambda_labs_secrets.py
  scripts/update_h200_to_gh200.py
  scripts/validate_gh200_deployment.py
  scripts/validate_lambda_labs_integration.py
  scripts/verify_lambda_labs_h200_setup.py
Due: dead-code-prevention, one-time-script-reminder

fix: Add SSH access resolution scripts for Lambda Labs GH200
  docs/implementation/LAMBDA_LABS_GH200_FINAL_IMPLEMENTATION_STATUS.md
  lambda_labs_ssh_fix_report.json
  scripts/fix_lambda_labs_ssh_access.py
  scripts/recreate_lambda_labs_instances.py
Due: dead-code-prevention, one-time-script-reminder

🔑 PERMANENT SSH KEY SOLUTION IMPLEMENTED
  SSH_KEY_PERMANENT_SOLUTION_REPORT.md
  scripts/permanent_ssh_key_solution.py
Due: dead-code-prevention, one-time-script-reminder

🚀 PRODUCTION DEPLOYMENT INITIATED - INFRASTRUCTURE READY
  PRODUCTION_DEPLOYMENT_STATUS_REPORT.md
  scripts/deploy_production_complete.py
Due: dead-code-prevention, one-time-script-reminder

Update Lambda Labs SSH configuration to current production state
  LAMBDA_LABS_DEPLOYMENT_GUIDE.md
  PRODUCTION_DEPLOYMENT_STATUS_REPORT.md
  active_instance_ips.txt
  docs/04-deployment/LAMBDA_LABS_SSH_CONFIGURATION.md
  docs/system_handbook/00_SOPHIA_AI_SYSTEM_HANDBOOK.md
  lambda_labs_automated_recreation_report.json
  scripts/deploy_production_complete.py
Due: dead-code-prevention, one-time-script-reminder

Complete production deployment architecture with Vercel and Lambda Labs K3s
  configure_dns.py
  deploy_backend_k3s.sh
  deploy_prep.sh
  deploy_production_complete.sh
  docs/04-deployment/PRODUCTION_DEPLOYMENT_ARCHITECTURE.md
  launch_production_cluster.py
  prepare_production_deployment.sh
Due: dead-code-prevention

Clean up trailing whitespace and finalize Swarm update
  UNIFIED_DEPLOYMENT_STRATEGY.md
  deploy_backend_k3s.sh
  deploy_production_complete.sh
  deploy_swarm.sh
  setup_swarm.sh
  sophia_cluster_config.json
Due: dead-code-prevention

Make setup_swarm idempotent by ensuring master and workers leave existing swarm before init/join
  setup_swarm.sh
Due: none

Fix secret management: standardize on VERCEL_ACCESS_TOKEN, clean legacy Vultr/Terraform, update Lambda Labs secrets
  .github/workflows/sync_secrets.yml
  UNIFIED_SECRET_MANAGEMENT_STRATEGY.md
  comprehensive_secrets_audit.py
  create_docker_secrets.sh
  create_docker_secrets_direct.sh
  deploy_swarm.sh
  docker-compose.cloud.yml
  final_codebase_alignment_update.py
  infrastructure/templates/esc-config.yaml.tpl
  infrastructure/terraform-iac-config.tf
  monitor_swarm.sh
  scripts/ci/sync_from_gh_to_pulumi.py
  scripts/strategic_repository_expansion.py
  scripts/test_secret_access.py
  scripts/unified_secret_management_audit.py
  secret_audit_report_20250707_000204.json
  setup_swarm.sh
  sophia_cluster_config.json
  troubleshoot_swarm_network.sh
Due: dead-code-prevention, one-time-script-reminder

Implement Unified Infrastructure naming convention across all components
  .github/workflows/sync_secrets.yml
  README.md
  UNIFIED_INFRASTRUCTURE.md
  UNIFIED_SECRET_MANAGEMENT_STRATEGY.md
  scripts/unified_secret_sync.py
  unified_deployment.sh
  unified_docker_secrets.sh
  unified_monitoring.sh
  unified_troubleshooting.sh
Due: dead-code-prevention, one-time-script-reminder

Complete unified deployment cleanup: removed legacy files, updated handbook, created unified deployment guide
  DEPLOYMENT.md
  backup_deployment_cleanup_20250707_001424/create_docker_secrets.sh
  backup_deployment_cleanup_20250707_001424/deploy_production_complete.sh
  backup_deployment_cleanup_20250707_001424/deploy_production_sophia.sh
  backup_deployment_cleanup_20250707_001424/docker-compose.ai.yml
  backup_deployment_cleanup_20250707_001424/docker-compose.cloud.yml.optimized
  backup_deployment_cleanup_20250707_001424/docker-compose.mcp.yml
  backup_deployment_cleanup_20250707_001424/docker-compose.platform.yml
  backup_deployment_cleanup_20250707_001424/scripts/ci/sync_from_gh_to_pulumi.py
  backup_deployment_cleanup_20250707_001424/setup_swarm.sh
  docs/system_handbook/00_SOPHIA_AI_SYSTEM_HANDBOOK.md
  scripts/unified_deployment_cleanup.py
Due: dead-code-prevention, one-time-script-reminder

Add unified deployment audit resolution summary
  UNIFIED_DEPLOYMENT_AUDIT_RESOLUTION.md
Due: dead-code-prevention

🚀 Deploy comprehensive MCP platform with all 29 servers
  .github/workflows/unified-deployment.yml
  COMPREHENSIVE_DEPLOYMENT_GUIDE.md
  DEPLOYMENT_GUIDE.md
  ORCHESTRATION_MIGRATION.md
  README.md
  docker-compose.cloud.yml
  mcp-servers/ai-memory/Dockerfile
  mcp-servers/ai-memory/Dockerfile.production
  scripts/build_all_mcp_images.py
  scripts/create_docker_swarm_secrets.py
  scripts/unified_lambda_labs_deployment.py
  unified_build_images.sh
  unified_docker_hub_push.sh
Due: dead-code-prevention, one-time-script-reminder

🔧 Fix GitHub Actions workflow and add comprehensive deployment scripts
  .github/workflows/unified-deployment.yml
  HOLISTIC_MAINTENANCE_PLAN.md
  scripts/generate_deployment_report.py
  scripts/monitor_automated_deployment.py
  scripts/notify_deployment_status.py
  scripts/validate_complete_deployment.py
Due: dead-code-prevention, one-time-script-reminder

🚀 GitHub Comprehensive Optimization: Fix workflows, consolidate redundancy, update deprecated actions
  .github/workflows/production-deployment.yml
  .github/workflows/sophia-production-deployment.yml
  .github/workflows/unified-deployment.yml
  COMPREHENSIVE_DEPLOYMENT_IMPROVEMENT_PLAN.md
  COMPREHENSIVE_LLM_UNIFICATION_PLAN.md
  GITHUB_COMPREHENSIVE_OPTIMIZATION_REPORT.md
  archive/.github/workflows/sophia-production-deployment.yml
  github_alignment_report.json
  scripts/github_alignment_optimizer.py
Due: dead-code-prevention, one-time-script-reminder

🚀 STRATEGIC FIX: Resolve 100% deployment failure rate
  .github/workflows/deploy-mcp-production.yml
  .github/workflows/health-monitor.yml
  .github/workflows/production-deployment.yml
  GITHUB_STRATEGIC_FIXES_IMPLEMENTATION.md
  github_alignment_report.json
  ultimate_snowflake_fix.py
Due: dead-code-prevention

📊 UPDATE: Strategic fixes validation and commit hash
  GITHUB_STRATEGIC_FIXES_IMPLEMENTATION.md
  github_alignment_report.json
Due: dead-code-prevention

📊 STRATEGIC FIT VALIDATION: Comprehensive debug review confirms excellent alignment
  STRATEGIC_FIT_DEBUG_REVIEW.md
  github_alignment_report.json
Due: dead-code-prevention

🧠 AI Memory MCP Server Comprehensive Analysis & Improvement Plan
  AI_MEMORY_IMPROVEMENT_PLAN.md
  ai_memory_quality_report.json
  scripts/ai_memory_code_quality_analyzer.py
Due: dead-code-prevention, one-time-script-reminder

🧠 AI Memory MCP Server - Complete Optimization Implementation
  backend/mcp_servers/ai_memory/core/__init__.py
  backend/mcp_servers/ai_memory/core/config.py
  backend/mcp_servers/ai_memory/core/exceptions.py
  backend/mcp_servers/ai_memory/core/models.py
  backend/mcp_servers/ai_memory/core/performance.py
  backend/mcp_servers/ai_memory/server.py
  backend/mcp_servers/enhanced_ai_memory_mcp_server.py
  backend/mcp_servers/optimized_ai_memory_mcp_server.py
  mcp-servers/ai-memory/Dockerfile
  mcp-servers/ai-memory/enhanced_ai_memory_server.py
Due: dead-code-prevention

feat: Strategic implementation guides for Sophia AI next phase
  docs/implementation/codebase_quality_remediation_guide.md
  docs/implementation/kubernetes_migration_guide.md
  docs/implementation/strategic_alignment_and_next_phase.md
  docs/implementation/unified_dashboard_integration_guide.md
Due: dead-code-prevention

feat: Implement Unified Dashboard Monitoring Integration
  backend/api/ai_memory_health_routes.py
  backend/api/deployment_status_routes.py
  backend/api/unified_health_routes.py
  backend/fastapi_main.py
  backend/presentation/api/router.py
  frontend/src/components/dashboard/UnifiedDashboard.tsx
  frontend/src/components/dashboard/tabs/AIMemoryHealthTab.tsx
  frontend/src/components/dashboard/tabs/ProductionDeploymentTab.tsx
  frontend/src/hooks/useDataFetching.ts
Due: dead-code-prevention

🚀 Phase 1 Docker Optimization Implementation
  AI_MEMORY_IMPLEMENTATION_FINAL_SUMMARY.md
  DOCKER_VS_K3S_DECISION_MATRIX.md
  DOCKER_VS_K3S_EXECUTIVE_BRIEF.md
  ENHANCED_KUBERNETES_MIGRATION_PROMPT.md
  KUBERNETES_MIGRATION_IMPLEMENTATION_GUIDELINES.md
  KUBERNETES_MIGRATION_PROMPT_ANALYSIS.md
  KUBERNETES_MIGRATION_PROMPT_IMPROVEMENT_PLAN.md
  docker-compose.cloud.optimized.yml
  k3s_migration_analysis_results.json
  scripts/deploy_phase1_optimizations.sh
  scripts/k3s_migration_analyzer.py
Due: dead-code-prevention, one-time-script-reminder

Phase 1 Docker Optimization Deployment - Production Ready
  PHASE1_IMPLEMENTATION_FINAL_SUMMARY.md
  scripts/deploy_phase1_optimizations.sh
Due: dead-code-prevention

🚀 COMPREHENSIVE DEPLOYMENT & OPTIMIZATION COMPLETE
  COMPREHENSIVE_DEPLOYMENT_AND_OPTIMIZATION_FINAL_REPORT.md
  LARGE_FILE_ANALYSIS_REPORT.md
  backend/mcp_servers/ai_memory/handlers/__init__.py
  backend/mcp_servers/ai_memory/handlers/memory_handlers.py
  backend/mcp_servers/ai_memory/handlers/search_handlers.py
  backend/mcp_servers/ai_memory/server.py
  backend/mcp_servers/ai_memory/utils/__init__.py
  backend/mcp_servers/ai_memory/utils/monitoring.py
  backend/mcp_servers/ai_memory/utils/validation.py
  large_file_analysis_data.json
  mcp-servers/ai_memory/Dockerfile
  mcp-servers/ai_memory/Dockerfile.uv
  mcp-servers/ai_memory/README.md
  mcp-servers/ai_memory/__init__.py
  mcp-servers/ai_memory/enhanced_ai_memory_server.py
  mcp-servers/asana/health.py
  mcp-servers/asana/performance.py
  mcp-servers/github/health.py
  mcp-servers/github/performance.py
  mcp-servers/hubspot_unified/health.py
  mcp-servers/hubspot_unified/performance.py
  mcp-servers/linear/health.py
  mcp-servers/linear/performance.py
  mcp-servers/notion/health.py
  mcp-servers/notion/performance.py
  phase2_mcp_optimization_report.json
  scripts/large_file_analyzer.py
  scripts/mcp_health_dashboard.py
  scripts/phase2_mcp_optimization.py
Due: dead-code-prevention, one-time-script-reminder

🚀 PROJECT CHIMERA: Complete Implementation - Ultimate Executive AI Command Center
  PROJECT_CHIMERA_EXECUTIVE_DEMO.md
  PROJECT_CHIMERA_IMPLEMENTATION_PLAN.md
  UNIFIED_CHAT_ARCHITECTURAL_BLUEPRINT.md
  backend/services/chimera_monitoring_service.py
  backend/services/dynamic_orchestration_service.py
  backend/services/enhanced_cortex_service.py
  backend/services/federated_query_service.py
  backend/services/secure_action_service.py
  backend/services/streaming_response_service.py
  chimera_architecture_analysis.json
  chimera_data_flows.json
  chimera_implementation_report.json
  chimera_mcp_audit.json
  scripts/project_chimera_implementation.py
Due: dead-code-prevention, one-time-script-reminder

🧹 Complete Infrastructure Cleanup & Documentation
  APPROVED_INFRASTRUCTURE_ENHANCEMENT_PLAN.md
  COMPREHENSIVE_DEPLOYMENT_AND_OPTIMIZATION_FINAL_REPORT.md
  COMPREHENSIVE_DEPLOYMENT_IMPROVEMENT_PLAN.md
  COMPREHENSIVE_LLM_UNIFICATION_PLAN.md
  ENHANCED_PULUMI_ESC_IMPLEMENTATION_PLAN.md
  HOLISTIC_MAINTENANCE_PLAN.md
  LANGCHAIN_ECOSYSTEM_IMPLEMENTATION_PLAN.md
  MCP_MIGRATION_PLAN.md
  PHASE1_IMPLEMENTATION_FINAL_SUMMARY.md
  PROJECT_CHIMERA_IMPLEMENTATION_PLAN.md
  data/test_ephemeral_credentials.json
  docs/LAMBDA_LABS_INFRASTRUCTURE.md
  docs/LAMBDA_LABS_SETUP_REQUIREMENTS.md
  docs/MCP_COMPREHENSIVE_REMEDIATION_PLAN.md
  frontend/.bashrc
  load_github_secrets.py
  scripts/cleanup_one_time_scripts.py
  scripts/generate_dev_metrics.py
  scripts/validate_lambda_infrastructure.py
  secret_audit_report_20250707_000204.json
  secret_sync_report.json
Due: dead-code-prevention, one-time-script-reminder
